// FONT VARIABLES
$greatvibe:'Great Vibes';
$outfit: 'Outfit', sans-serif;
$roboto: 'Roboto', sans-serif;
$shadow: 'Shadows Into Light', cursive;
$pirata: 'Pirata One', cursive;
$abel: 'Abel', sans-serif;
$philo: 'Philosopher', sans-serif;
$bungalow: 'Boogaloo', cursive;
$mirinda:'Merienda', cursive;
$sans:'PT Sans Narrow', sans-serif;
$colorred:#811916;
$deepblue: #000080;
$bodyblue:#6eb8f5c4;
$navblue:#6eb8f5;
// $navblue: rgb(111, 163, 241);
$deepblue2:rgb(16, 164, 250);