// FONT VARIABLES
$greatvibe:'Great Vibes';
$outfit: 'Outfit', sans-serif;
$roboto: 'Roboto', sans-serif;
$shadow: 'Shadows Into Light', cursive;
$pirata: 'Pirata One', cursive;
$abel: 'Abel', sans-serif;
$philo: 'Philosopher', sans-serif;
$bungalow: 'Boogaloo', cursive;
$mirinda:'Merienda', cursive;
$sans:'PT Sans Narrow', sans-serif;
$cursive:'Beau Rivage', cursive;
$colorred:#811916;
$deepblue: #000080;
$bodyblue:#6eb8f5c4;
$navblue:#6eb8f5;
// $navblue:rgba(134, 199, 236, 0.76);
$navblue2:rgb(134, 199, 236);
$menubg:rgba(8, 90, 141, 0.945);
// $navblue: rgb(111, 163, 241);
$condensedblue:rgb(3, 63, 98);
$deepblue2:rgb(16, 164, 250);