// // GENERAL STYLE FOR THE WHOLE HEADER SECTION

.header{
    font-family: $roboto;
    font-size: 4rem;
    background-color: $bodyblue;
    
  
    
&-containerDiv{
      background: url(/images/nikob4.jpg) no-repeat center left;
      background-size: cover;

}
}

.nav,.MobileNav-bar{
    background-color:$navblue;
    font-family: $roboto;
 
&-icon{
    
    height: 3rem;
}


}
// Desktop Nav menu icons showning on hover state
 nav ul li .nav-link{
    color: $deepblue;
    font-weight: 600;
}
nav ul li .nav-link:hover{
    color: $deepblue;
}
.nav-li--about img,.nav-li--contact img{
    visibility: hidden;
}

.nav-li--about:hover img,.nav-li--contact:hover img{
    visibility:visible;
}

.nav-li--gallery .nav-li--gallery_display{
    visibility: hidden;
}


.nav-li--gallery:hover .nav-li--gallery_display{
    visibility: visible;
}

.nav-li--gallery_display{
    width: 150%;
    height: 25rem;
    background-color: $deepblue;
    color: white;
    font-family: $outfit;
    font-weight: 300;
}

// MOBILE MENU




.Mobile-menu--ul{
 top: 0;
 left: 100%;
 z-index: 10;
 transition: left .5s ease;
 z-index: 12;
}
.Mobile-icon{
    z-index: 20;
}
.overlay{
    z-index: 10;
    display: none;
  
}
