// // GENERAL STYLE FOR THE WHOLE HEADER SECTION

.header{
    font-family: $roboto;
    font-size: 4rem;
    background-color: $bodyblue;
    
  
    
&-containerDiv{
      background: url(/images/nikob4.jpg) no-repeat center left;
      background-size: cover;

}
}

.nav,.MobileNav-bar{
    background-color: $navblue;
    font-family: $roboto;
  background-color:rgba(109, 164, 209, 0.26);

&-icon{
    
    height: 3rem;
}


}
 nav ul li .nav-link{
    color: $deepblue;
    font-weight: 600;
}
nav ul li .nav-link:hover{
    color: $deepblue;
}
.nav-li--about img,.nav-li--contact img{
    visibility: hidden;
}

.nav-li--about:hover img,.nav-li--contact:hover img{
    visibility:visible;
}

.nav-li--gallery .nav-li--gallery_display{
    visibility: hidden;
}


.nav-li--gallery:hover .nav-li--gallery_display{
    visibility: visible;
}

.nav-li--gallery_display{
    width: 150%;
    height: 25rem;
    background-color: $deepblue;
    color: white;
    font-family: $outfit;
    font-weight: 300;
}

// MOBILE MENU

.Mobile-menu{
top: 0;
left: 100%;
background: aliceblue;
transition: all .3s ease-out;
transform: translateX(0);


}
.MobileNav-divContainer{

  
  transition: transform 0.3s ease-out;
  
}





//  &-icon__home,&-icon__gallery{
//      visibility: visible;
//  }  
// &-li:hover &-icon{
//       visibility: visible;
//   } 
    
// }


// // THE GALLERY DROP-DOWN NAV
// .Navgallery{
// position: relative;
// @extend %flexcolon;
// align-items: center;
// z-index: 5;


// &-ul{
//     background-color: $deepblue;
//     display: grid; 
//     grid-template-columns: minmax(max-content,min-content);
//     text-align: center;
//     grid-gap: 2rem;
//     padding: 2rem;
// }
// &-links{
//     font-family: $outfit;
//     font-weight: 300;
//     font-size: 2rem;
//     text-transform: capitalize;
//     color: white;
//     transition-property: border,border-radius,padding-left,padding-right;
//      transition-duration: .3s;
//     // -webkit-transition-duration: .3s;
    

//     &:hover{
//         background-color: $bodyblue;
//         border: 1px dashed white;
//         border-radius: 20%;
//         padding-left: 2rem;
//         padding-right: 2rem; 
      
//     }
// }
// &-ul__div{
//     position: absolute;
//     top: 35%;
//     visibility: hidden;
// }

// &:hover &-ul__div{
//     visibility: visible;
//     padding-top: 4rem;
// }
// }




// // THIS IS THE HEADER TEXT
// .Header-hero{
//     align-self: flex-end;
//     @extend %flexcolon;
//     align-items: center;
//      margin-bottom: 10%;
//      margin-right: 5%;
//      animation-name:fromtop;
//     animation-duration: 3s;
//      animation-fill-mode: forwards;
//      animation-delay: 4s;
   

   
// &__textDiv{
// @extend %flexcolon;
// align-items: center;
// background-image: url(/img/nikob-bg5.png);
// background-clip: text;
// color: transparent;
// -webkit-background-clip: text;
// font-family: $abel;
// font-weight: 200;



// }
// &__h1{
//     @extend %flexcolon;
//     align-items: center;
//     font-size: 7rem;

// }
// }
// .marhaban{
//     font-size: 7rem;
//     font-family: $pirata;
//     letter-spacing: 1rem;
//     padding-top: 1rem;
//     padding-bottom: 1rem;
//     font-weight: 200;
//     color: $deepblue;
   

// }
